{{!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1e335e">
  <div class="navbar-brand mx-auto">
    <a class="navbar-brand navbar-center" href="/home">Sandwich<span style="color: #e89513">Filler</span></a>
  </div>       
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <form class="form-inline my-2 my-lg-0" action="/register" method="GET">
          <button type="submit" id="signup-btn">Sign up</button>
        </form>        
      </li>
      <li class="nav-item active">
        <form class="form-inline my-2 my-lg-0" action="/login" method="GET">
          <button type="submit" id="login-btn">Login</button>
        </form>        
      </li>      
    </ul>    
  </div>
</nav> --}}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1e335e">
  <div class="navbar-brand mx-auto">
    <a class="navbar-brand navbar-center" href="/home">Sandwich<span style="color: #e89513">Filler</span></a>
  </div>       
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/register">Sign up<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/login">Log in<span class="sr-only">(current)</span></a>
      </li>      
    </ul>    
  </div>
</nav>