@mixin flexCenter {
    display: flex;
    justify-content: center;    
    align-items: center;    
}

html {
    overflow-y: scroll;
}

body {
    @include flexCenter();      
    background-image: url('../images/PolygonLuminaryDark.svg');
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
}

h1 {
    @include flexCenter();
    color: #fff;
    margin-top: 15%;
}

h2 {
    @extend h1;
    margin-top: 0%;
}

h3 {
    @extend h2;
}

h4 {
    @extend h3;
}

h5 {
    @extend h4;
}