.navbar {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #000220;
    color: #fff;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    top:0;
}

.navbar-brand {
    text-align: center;
    span {
        color: #f03801;
    };
    a {
        font-size: 2rem;
        text-align: center;
    };
    &:hover {
        opacity: 0.8;        
    }
}

.nav-item {
    &:hover {
        opacity: 0.8;
    }
}

/* Navbar log out button */

#logout-button {
    background-color: #000220;
    color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    };
    &:focus {
        outline: none;
    };
}
